bigPrincessPiSettingsUser=pi
bigPrincessPiSettingsHost=0.0.0.0
bigPrincessPiSettingsIdentityFile=/path/to/ssh/key

smallPrincessPiSettingsUser=pi
smallPrincessPiSettingsHost=0.0.0.0
smallPrincessPiSettingsIdentityFile=/path/to/ssh/key